* {
  box-sizing: border-box;
}
html,
body,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
.hide {
  display: none;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.item {
  margin: 5px;
  height: 200px;
  width: 200px;
}

.canvas-container {
  display: flex;
  justify-content: center;
}
.increase-font-btn {
  width: 30px;
  height: 30px;
  margin: 0 9px 5px 0.5px;
  padding: 5.6px 5.3px 5.1px 5.3px;
  border-radius: 6px;
  background-color: #fff;
}
.decrease-font-btn {
  width: 30px;
  height: 30px;
  margin: 0 9.5px 5px 9px;
  padding: 5.5px 5px 5px 5.5px;
  border-radius: 6px;
  background-color: #fff;
}
img.increase-font---icon {
  width: 19.3px;
  height: 19.3px;
  object-fit: contain;
}
img.decrease-font---icon {
  width: 19.5px;
  height: 19.5px;
  object-fit: contain;
}

.editor {
  width: 600px;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.986);
}

.Nav-bar-bg {
  width: 100%;
  height: 33px;
  padding: 8.5px 25px 1.7px 24.5px;
  background-color: orange;
}
img.add {
  width: 19.6px;
  height: 19.6px;
  object-fit: contain;
}
.add-line-btn {
  width: 30px;
  height: 30px;
  margin: 4.5px 9px 0 9.5px;
  padding: 5.5px 5.2px 4.9px 5.2px;
  border-radius: 6px;
  background-color: #fff;
}
