@media (max-width: 740px) {
  .main-footer {
    /* width: 100px; */
    position: static;
  }
  .editor-controlers {
    /* margin-left: 0px; */
    padding-top: 1rem;
    padding-right: 0px;
  }
  .editor-board {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .editor {
    height: 100vh;
    align-items: center;
  }
  .main-layout {
    max-width: 550px;
  }
  .canvas-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  canvas {
    width: 300px;
  }
}

/* SMALL */

@media (max-width: 660px) {
  .main-footer {
    /* width: 100px; */
    position: fixed;
  }
}

/* MEDIUM 840*/

@media (min-width: 741px) {
  html {
    font-size: 14px;
  }
  .main-layout {
    max-width: 740px;
  }
  /* .main-footer {
    /* width: 100px; */

  .btn-menu {
    display: none;
  }
  .gallery {
    /* margin-bottom: 100px; */
  }
}

/* LARGE 980 */

/* @media (min-width: 1029px) {
  html {
    font-size: 16px;
  }
  .main-header .main-nav a {
    width: 130px;
    height: 130px;
  }
  .main-layout {
    max-width: 980px;
  }
  .btn-menu {
    display: none;
  }
} */
